body,html {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1d1d1d;
  overflow: hidden;
}

#container {
  position: relative;
  width: 60%;
  /*height: 70%;*/
}

.dplayer-full-in-icon,
.dplayer-menu.dplayer-menu-show,
.dplayer-setting,
.dplayer-notice,
.dplayer-bar-time {
  display: none !important;
}