body,html {
  /*position: relative;*/
  width: 95%;
  /*height: 100%;*/
  /*margin: 0;
  padding: 0;*/
  background: #1d1d1d;
  /*overflow: hidden;*/
}
.mother{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#container {
  /*position: relative;*/
  width: 60%;
  /*height: 70%;*/
}

.dplayer-full-in-icon,
.dplayer-menu.dplayer-menu-show,
.dplayer-setting,
.dplayer-notice,
.dplayer-bar-time {
  display: none !important;
}

.srvrlst {
  display: flex;
  flex-wrap: wrap;
}
.srvrlst li{
  list-style: none;
  background-color: #ababab;
  border-radius: 5px;
  padding: 2px;
  margin: 5px; 
}
.srvrlst li a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.currlink{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}