body,html {
  /*position: relative;*/
  width: 95%;
  /*height: 100%;*/
  /*margin: 0;
  padding: 0;*/
  background: #1d1d1d;
  /*overflow: hidden;*/
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#container {
  position: relative;
  width: 60%;
  /*height: 70%;*/
}

.dplayer-full-in-icon,
.dplayer-menu.dplayer-menu-show,
.dplayer-setting,
.dplayer-notice,
.dplayer-bar-time {
  display: none !important;
}

.srvrlst {
  display: flex;
  justify-content: space-around;
}
.srvrlst li{
  list-style: none;
}
.srvrlst li a{
  color: white;
  text-decoration: none;
}